---
import FeatureSolution from "../components/FeatureSolution.astro";
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
---

<Layout
	title="Bienvenidos a la pagina de construccion de Venia.dev ."
	,
	modeTheme="ligth"
>
	<main>
		<Menu />

		<section
			class="bg-[#030303] flex flex-wrap gap-8 justify-center items-center content-end h-screen w-screen"
		>
			<div class="grid grid-cols-1 gap-16 lg:grid-cols-3 lg:gap-64 my-24">
				<FeatureSolution
					img="torredepisa.png"
					delay="animation-delay-1200"
				/>
				<FeatureSolution
					img="torredepisa.png"
					delay="animation-delay-300"
				/>
				<FeatureSolution
					img="torredepisa.png"
					delay="animation-delay-1200"
				/>
			</div>
		</section>
	</main>
</Layout>
