---
import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="REALIDAD AUMENTADA." , modeTheme="ligth">
    <main>
        <Menu />
        <section
            class="bg-[#030303] flex gap-8 justify-center h-screen w-screen"
        >
            <h2>AR TEC</h2>
        </section>
    </main>
</Layout>
