<header
    class="flex gap-9 bg-[#15071bd2] items-center fixed top-0 w-full justify-around py-2 z-20 shadow-sm shadow-purple-700"
>
    <svg
        class="hover:px-2 w-20 h-auto md:w-16"
        width="17.806mm"
        height="19.013mm"
        version="1.1"
        viewBox="0 0 17.806 19.013"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
    >
        <defs>
            <linearGradient
                id="a"
                x1="939.49"
                x2="1063.6"
                y1="485.94"
                y2="434.38"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="#15071bd2" offset="0"></stop>
                <stop stop-color="#7e22ce" offset="1"></stop>
            </linearGradient>
        </defs>
        <g transform="translate(-96.308 -138.91)">
            <g transform="matrix(.26458 0 0 .26458 224.37 855.23)">
                <path
                    transform="matrix(.47095 0 0 .43551 -926.46 -2883.1)"
                    d="m1082.4 444.69v82.502l-71.449 41.251-71.449-41.251v-82.502l71.449-41.251z"
                    fill="url(#a)"></path>
                <path
                    d="m-460.37-2680.5-9.7502 9.0164 9.6332 7.8256"
                    fill="none"
                    stroke="#fae8ef"
                    stroke-width="4.71"></path>
                <path
                    d="m-440.75-2663.6 9.7502-9.0164-9.6332-7.8255"
                    fill="none"
                    stroke="#fae8ef"
                    stroke-width="4.71"></path>
                <path
                    d="m-446.43-2680.9-7.2847 17.563"
                    fill="none"
                    stroke="#fae8ef"
                    stroke-width="4.6647"></path>
            </g>
        </g>
    </svg>
    <nav class="hidden md:block">
        <ul
            class="flex [&>li>a]:px-5 text-lg text-[#fae7a7] [&>li>a]:inline-block"
        >
            <li class="shadow-sm shadow-purple-700">
                <a href="#">Mision</a>
            </li>
            <li><link href="#" />Soluciones</li>
            <li><a href="#">Portafolio</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>
